<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="console-example-internal.log"
      internalLogLevel="Info" >


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" 
            name="file" 
            fileName="${basedir}/log/console-example.log"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    
    <target xsi:type="Console" 
            name="console"
            layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />

    <target name="dblog" 
            type="Database" 
            keepConnection="false" 
            dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite, Version=2.1.0.0"
            connectionString="data source=${currentdir}/logs.db">
        <commandText>

        CREATE TABLE IF NOT EXISTS Logs_${date:format=yyyyMMdd} (sequence_id INTEGER  PRIMARY KEY AUTOINCREMENT
        UNIQUE
        NOT NULL,
        time_stamp  DATETIME NOT NULL,
        level       TEXT     NOT NULL,
        host        TEXT     NOT NULL,
        url         TEXT     NOT NULL,
        type        TEXT     NOT NULL,
        source      TEXT     NOT NULL,
        logger      TEXT     NOT NULL,
        message     TEXT     NOT NULL,
        stacktrace  TEXT     NOT NULL,
        detail      TEXT     NOT NULL);

        INSERT INTO Logs_${date:format=yyyyMMdd} (time_stamp, level, host, url, type, source, logger, message, stacktrace, Detail)
        VALUES(@time_stamp, @level, @host, @url, @type, @source, @logger, @message, @stacktrace, @detail);
      </commandText>
      <parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@url" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@source" layout="${callsite:className=true}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@detail" layout="${exception:format=tostring}" />
    </target>


  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console, dblog" />

  </rules>
</nlog>